<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form id="new-entry">
    <h2>Add New Entry</h2>
    <p><label class="bold" for="nameInput">What's the name of the game you played?</label></p>
    <input type="text" id="nameInput" name="nameInput"><br><br>

    <p><label class="bold" for="imageInput">Image Url:</label></p>
    <input type="text" id="imageInput" name="imageInput"><br><br>

    <p><label class="bold" for="authorInput">Author:</label></p>
    <input type="text" id="authorInput" name="authorInput"><br><br>

    <p><label class="bold" for="platformInput">Platform:</label></p>
    <input type="text" id="platformInput" name="platformInput"><br><br>

    <p><label class="bold" for="bodyInput">What do you want to say?:</label></p>
    <textarea id="bodyInput" name="bodyInput" rows="4" cols="50">Insert Journal Entry Here!</textarea><br><br>
    <input id="entrySubmit" type="submit" value="Submit">
</form>
<form id="searchBar">
    <label class="bold" for="searchText">Search:</label>
    <input type="search" id="searchText" name="searchText" placeholder="search terms">
    <input id="searchSubmit" type="submit" value="Submit">
</form>
<div class="add_button">
    <button>Add a New Entry</button>
</div>
<div class="container">
    {{#each entries}}
    <div class="entry" id="{{this._id}}">
        <div class="top_line">
            <h3 class="game_name">{{this.game_name}}</h3>
            <button class="delete_button">Delete</button><br>   
        </div>
        <div class="game_image">
            <img class="game_image_url" alt="image of {{this.game_name}}" src="{{this.image_url}}">
        </div>
        <p class="author">by <span class="author_text">{{this.author}}</span></p>
        <p class="date">Created On: {{this.date_created}}</p>
        <p class="platform">Played On: <span class="platform_text">{{this.platform}}</span></p>
        <p class="entry_text">{{this.entry_text}}</p>
        <button class="edit_button">Edit</button>
    </div>
{{/each}}
</div>