
<div class="full-page">
  <div class="week-buttons">
  </div>
  <div class="heading">
    <h1>Weekly Diary</h1>
    <button class="add-more">+</button>
  </div>
  <div class='diary'>
    <div>
    {{#each memories}}
      <div class='page {{this.day}}'>
        <div class='memory'>
          <h2 class='memory-title'>{{this.title}}</h2>
          <p class='memory-text'>{{this.memory}}</p>
          {{#each this.author}}
            <p class='memory-author'>By {{this.username}}</p>
          {{/each}}
          <p class="memory-day">Post on {{this.day}}</p>
        </div>
      </div>
    {{/each}}
    </div>
  </div>

  <form id="add-entry">
    <h2>Create new diary entry</h2>
    <label for="memory-title">Memory Title</label>
    <input type="text" placeholder="title" id="memory-title">
    <label for="memory">Memory</label>
    <input type="text" placeholder="memory">
    <label for="weekday">Weekday</label>
    <select name="weekday" id="weekday">
      <option value="sunday">Sunday</option>
      <option value="monday">Monday</option>
      <option value="tuesday">Tuesday</option>
      <option value="wednesday">Wednesday</option>
      <option value="thursday">Thursday</option>
      <option value="friday">Friday</option>
      <option value="saturday">Saturday</option>
    </select>
    <input type="submit" value="submit">
  </form>
</div>

<script src='/javascripts/script.js'></script>