
<div class="full-page">
  <div class="week-buttons">
  </div>
  <div class="heading">
    <h1>Weekly Diary</h1>
  </div>
  <div class='diary'>
    {{#each memories}}
      <div class='page {{this.day}}'>
        <div class='memory'>
          <h2 class='memory-title'>{{this.title}}</h2>
          <p class='memory-text'>{{this.memory}}</p>
          <p class='memory-author'>By {{this.authorId}}</p>
          <p class="memory-day">Post on {{this.day}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<script src='/javascripts/script.js'></script>