<body>
    <div class="firstAct">
        <img src="../images/logo.svg" alt="" class="j4k">
        <div class="welcome">
            <h3>Welcome to Just 4 kicks!</h3>
            <p>Just 4 kicks is a blog site where people who have special memories with 
                certain pairs of shoes can anonymously post their story for the public. Don't love what you wrote?
                Edit it! Still not a fan? Delete with no problem. Whenever you're ready, click the button to get started.
            </p>
            <button class="start">Let's go!</button>
        </div>
    </div>
    <div class="secondAct">
        <div class="header">
            <img src="../images/logo.svg" alt="Just4Kicks_logo_svg" class="logo">
            <h1 class="title">Just 4 Kicks</h1>
            <ul>
                <li class="SignIn"><a href="#">Sign in</a></li>
            </ul>
        </div>
        <main>
            <nav>
                <ul class="navigation">
                    <li class="all">All</li>
                    <li class="Nike">Nike</li>
                    <li class="Jordan">Jordan</li>
                    <li class="Adidas">Adidas</li>
                    <li class="New_Balance">New Balance</li>
                    <li class="Other">Other</li>
                </ul>
            </nav>
            <form class="create">
                <h3 class="img_text">Image link</h3><input type="text" class="image" name="image">
                <h3 class="title_text">Post: Title</h3><input type="text" class="title" name="title">
                <h3 class="story_text">Story</h3><input type="text" class="story" name="story">
                <h3 class="brand_text">brand</h3><input type="text" class="brand" name="brand">
                <input class='createPost' type="submit" value="Add to blog" />
            </form>
            <div class="create_post">
                <img class="add_post" src="../images/add_icon_4.svg" alt="">
            </div>
            <div class="posts">
                {{#each posts}}
                <div class="post">
                    <img class="post_img" src={{this.img}} alt="">
                    <div class="bodybackground">
                        <div class="btnflex">
                            <h3 class="post_title">{{this.title}}</h3><img src="../images/edit_btn.svg" alt=""
                                class="editbtn"><img src="../images/delete_btn.svg" alt="" class="deletebtn">
                        </div>
                        <div class="SaveBtn">
                            <h3 class="post_story">{{this.story}}</h3>
                        </div>
                    </div>
                    <div class="brandMove">
                        <h3 class="post_brand">{{this.brand}}</h3>
                    </div>
                    {{!-- <div class="like_btn">
                        <p class="likes">{{this.likes}}</p>
                    </div> --}}
                </div>
                {{/each}}
            </div>
        </main>
    </div>
</body>